html, body{
    background-color:#141414;
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color:#141414 ;
}
.container{
    background-color:#1f1f1f;
    margin:10% auto 10% auto;
    width:auto;
    padding: 40px 35px 10px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    height: auto;
}
.image img{
    border-radius: 50%;
    margin:0 38% 0 38%;
}
.content{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content h1{
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #fff
}
.content p{
    color:#c0e74d ;
    font-size: small;
    margin-top: -10px;
    text-align: center;
}
p{
    text-align: center;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    padding:0 0 0 20px;
}
.inputs, button {
    width:100%;
    padding: 9px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor:pointer;
}
button{
    background-color: #313131;
}
.btn:hover{
    background-color: #c3f62a;
    color:#141414;
}



/* for tablet */

@media screen and (max-width:870px) {
    .wrapper{
        width:70%;
        margin: 20px auto;
    }
    .container{
        width:auto;
        margin: 40px auto;
        padding: auto;
        height: auto;
    }
    p{
        font-size: auto;
    }
    .btn{
        margin: auto;
    }
    .btn:hover{
        background-color: #c3f62a;
        color:#141414;
    }
}



/*  for mobile */

@media  screen and (max-width:500px) {
    .wrapper{
        width: 70%;
        margin: 20px auto;
    }
    .container{
        width: auto;
        margin: 40px auto;
        padding:auto;
        height: auto;
    }
    img{
        width:28%;
    }
    .content p{
        font-size: 12px;
    }
    p{
        font-size: auto;
    }
    .input{
        font-weight: 2px;
    } 
} 






