html, body{
    background-color:#141414;
    margin: 0;
    padding: 0;
}
.container{
    background-color:#1f1f1f;
    margin:6% auto;
    width:23%;
    padding: 40px 35px 30px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    height: 90vh;
}
.image img{
    border-radius: 50%;
    margin:0 38% 0 38%;
}
.content{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content h1{
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #fff
}
.content p{
    color:#c0e74d ;
    font-size: small;
    margin-top: -10px;
}
p{
    text-align: center;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}
.inputs, button {
    width:100%;
    padding: 9px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor:pointer;
}
button{
    background-color: #313131;
}
.btn:hover{
    background-color: #c3f62a;
    color:#141414;
}



/* for tablet */

@media screen and (max-width:870px) {
    .container{
        width:35%;
        margin: 40px auto;
        padding: auto;
        height: 85vh auto;
    }
    p{
        font-size: auto;
    }
    .btn{
        margin: auto;
    }
    .btn:hover{
        background-color: #c3f62a;
        color:#141414;
    }
}



/*  for mobile */

@media  screen and (max-width:500px) {
    .container{
        width: 55%;
        margin: 40px auto;
        padding-bottom:20px ;
    }
    img{
        width:28%;
    }
    .content p{
        font-size: 12px;
    }
    p{
        font-size: auto;
    }
    .input{
        font-weight: 2px;
    } 
} 






